# version: "3.9"

services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: api-dev
    ports:
      - "8000:8000"
    volumes:
      - ./api:/app
    env_file:
      - ./api/.env
    restart: always
    networks:
      - app-network

  ui:
    build:
      context: ./webApp
      dockerfile: Dockerfile
    container_name: webApp-dev
    depends_on:
      - api
    ports:
      - "4200:4200"
    volumes:
      - ./webApp:/app:cached
      - node_modules_volume:/app/node_modules
    networks:
      - app-network
    command: ["ng", "serve", "--host", "0.0.0.0", "--poll=1000"]

  redis:
    # ... (no changes needed here)
    image: redis:alpine
    ports:
      - "6379:6379"
    networks:
      - app-network
volumes:
  node_modules_volume:

networks:
  app-network:
    driver: bridge
