header{
  width: 100%;
  display: block;
  border-bottom: 2px solid whitesmoke;
  padding: 20px 0px;
  margin-bottom: 20px;
}

.app-title{
  font-weight: bold;
  font-size: large;
  text-decoration: none;
}



.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.spinner {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #007bff; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.restaurant-card{
  padding: 20px;
  border: 1px solid whitesmoke;
  margin-bottom: 20px;
  p{
    i{
      margin-right: 4px;
      color: #000;
    }
  }

}

